:root {
  --background: #ffc5d3;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}