.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aceitou {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aceitouText {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 36px;
  transition: opacity 1s ease-in;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #000;
  transition: width 0.2s ease-in;
  font-weight: 400;
}
.link:hover::after {
  width: 100%;
}

.btnBox {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.wrapper {
  height: 40%;
  background-color: #fff090;
  z-index: 1000;
}

.mainImg {
  position: relative;
  transition: bottom 1s ease-in;
}
